@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
  .social-icons-item:not(:last-child) {
    margin-right: 56px;
  }
  .modal-window {
    max-width: 392px;
    width: calc(100vw - 30px);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .mob-menu {
    display: none;
  }
  .mob-menu-open {
    display: none;
  }
  .nav-list,
  .header-address {
    display: block;
  }
  .nav-list,
  .header,
  .header-logo-nav {
    display: flex;
  }
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1, 17;
    color: var(--gray);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
  }
  .hero-section {
    padding-top: 112px;
    padding-bottom: 108px;
  }
  .hero-text-title {
    min-width: 496px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    text-align: center;
    letter-spacing: 0.02em;
  }
  .modal-window {
    min-width: 408px;
  }
  .caption-texts {
    text-align: start;
  }
 .caption-comment{
  margin: 0;
 }
 .feature-list{
 
 row-gap: 72px;
 column-gap: 24px;
 }
 .caption-list{
  width: 356px;
 }

 
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
